<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Student</title>
</head>
<body>
<h1>Edit Student</h1>
<form th:action="@{/students/{id}/edit(id=${student.id})}" method="post" th:object="${student}">
    <label>Name:</label>
    <input type="text" th:field="*{name}" required/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br/>
    <button type="submit">Update</button>
</form>
<a href="@{/students}">Back to Students List</a>
</body>
</html>
